.circular--square {
    border-radius: 50%;
    padding: 5px 50px;
    
  }
  .test {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  